# Auto detect text files and perform LF normalization
* text=auto
# Source files
*.cpp text
*.hpp text
*.h text
*.c text
*.txt text
*.md text
# CMake
*.cmake text
CMakeLists.txt text
# Scripts
*.sh text eol=lf
*.py text
# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
# Video files via Git LFS
demo/*.mp4 filter=lfs diff=lfs merge=lfs -text
